/target
/node_modules
/apps/desktop-tauri/node_modules
/apps/desktop-tauri/dist
/.cache
/.turbo
/apps/desktop-tauri/src-tauri/gen
/apps/desktop-tauri/.vite
/vault-local.sqlite3
*.sqlite-shm
*.sqlite-wal
*.log
/.DS_Store
/.idea
/.vscode
